/* Feuille de style de la page index */

.index-recherche {
    background-color: #004e66;
    color: #ffffff;
    padding: 30px;
}

.index-recherche-formulaire-champs {
    display: flex;
    flex-direction: column;
}

.index-recherche-formulaire div {
    margin: 10px 0;
}

.index-recherche-formulaire input,
.index-recherche-formulaire select {
    width: 100%;
    padding: 13px 0 13px 17px;
    border: solid 2px #ff5f2e;
    background-color: #fff;
    margin-top: 1%;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

#accueil-recherche-submit,
.orange-button {
    
    margin: 10px 0;
    border-radius: 5px;
    font-size: 29px;
    background-color: #ff5f2e;
    color:  #ffffff;
}

.index-destination {
    position: relative;
    display: flex;
    margin: 15px 0;
    height: 300px;
    justify-content: space-between;
    padding-left: 25px;
    background: rgba(255, 255, 255, 0.5)
}


.deal-index-destination {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    height: 300px;
    justify-content: space-between;
    padding-left: 25px;
    background: rgba(255, 255, 255, 0.5)
}

.deal-index-destination-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.deal-index-destination-bottom-left {
    margin-bottom: 4%;
}

.index-destination-prix {
    background-color: #fcbe32;
    width: 16%;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
    font-size: 26px;
    font-weight: 500;

}

.index-destination-img,
.deal-index-destination-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.index-destination-left-ville {
    color: #ff5f2e;
    font-size: 40px;
}

.deal-ville {
    font-size: 40px;
    margin: 4% 0;
}

.top-destinations {
    text-align: center;
    font-size: 40px;
}

.index-destination-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
    width: 16%;
}

.index-destination-right-prix {
    background-color: #fcbe32;
    width: 100%;
    padding: 13px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
    font-size: 26px;
    font-weight: 500;
}

.index-destination-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4%;
}


.index-destination-left-infos, .deal-index-destination-infos {
    font-style: italic;
    margin: 0;
}

.orange-button {
    
    text-decoration: none;
}

.orange {
    width: 90%;
    text-align: center;
    background-color: #ff5f2e;
    padding: 7px 0;
    border-radius: 5px;
    margin: 25px auto;
}


@media only screen and (min-width: 991px) {
    
    body {
        margin: 0 10%;
    }

    .navBar {
        width: 50%;
        display : block!important;
    }

    .header-general {
        display: flex;
    }

    .menu-burger {
        display: none;
    }

    .navBar ul {
        display: flex;
        justify-content: space-evenly;
    }

    .header-general {
        display: flex;
        justify-content: space-between;
    }

    .header-mobile {
        width: 35%;
        align-items: center;
        justify-content: center;
    }

    .accueil-top {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .index-recherche {
        width: 50%;
        padding-bottom: 0;
    }

    .index-recherche h2 {
        margin: 0;
    }

    .deal-index-destination {
        width: 40%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .index-recherche-formulaire-champs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .index-recherche-formulaire-champs div {
        width: 48%;
    }

    .index-recherche-formulaire div {
        margin: 7px 0;
    }

    .index-recherche-formulaire input,
    .index-recherche-formulaire select {
        padding: 7px 2px 7px 12px;
    }

    .accueil-recherche--button {
        text-align: right;
    }

    #accueil-recherche-submit {
        width: 30%;
        margin: 0;
    }

    .index-destinations-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .index-destination {
        width: 23%;
        padding-left: 10px;
        height: 274px;
    }

    .index-destination-ville {
        font-size: 34px;
    }

    .index-destination-prix {
        width: 30%;
    }

    .index-destination-bottom-left p:first-child {
        font-style: normal;
    }

    .orange {
        width: 34%;
    }

    .orange-button {
        background-color: transparent;
        width: 100%;
    }

    .index-destination-right {
        width: 35%;
    }

    .index-destination-left-ville {
        white-space: nowrap;
    }

    .index-destination-left {
        width: 50%;
    }

}

